/* GERAL PARA TODO SITE */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial;
}

/* CONTAINERS DO SITE*/
#main-container {
	display: flex;
	flex-direction: row;
	height: 100vh; /* vh -> significa 'view height',  visão da tela do usuário*/
}

#address-container, #form-container {
	flex: 1 1 0;
	height: 100%;
	text-align: center;
}

/* ENDEREÇO DO CONTAINER */
#address-container {
	background-image: url('assets/img/georreferenciamento.jpg');
	background-size: cover;
	background-position-x: -130px;
	color: #ffffff;
	position: relative;
}

.fade {
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .7;
}

#address-content {
	width: 300px;
	text-align: left;
	top: 25vh; /* vh -> significa 'view height', visão da tela do usuário*/
	left: 35%;
	position: absolute;
}

#address-content h2 {
	color: #00AD5E;
	margin-bottom: 15px;
	position: relative;
	padding-left: 40px;
}

#address-content ion-icon {
	position: absolute;
	top: 2px;
	left: 0;
}

#address-content p {
	margin-bottom: 50px;
	font-weight: bold;
}

/* FORM DO CONTAINER */
#form-container {
	padding-top: 60px;
}

#form-container h2 {
	margin-bottom: 50px;
	color: #888;
	font-size: 30px;
}

#contact-form {
	text-align: left;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#contact-form label,
#contact-form input,
#contact-form textarea {
	display: block;
	padding: 10px;
	border: 1px solid #EEE;
	width: 100%;
	color: #AAA;
}

#contact-form label {
	color: #999;
	font-weight: bold;
	border-bottom: none;
}

#contact-form input {
	margin-bottom: 15px;
}

#contact-form input::placeholder,
#contact-form textarea::placeholder {
	color: #CCC;
}

#contact-form input[type="submit"] {
	background-color: #00AD5E;
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	width: 300px;
	margin: 30px auto;
	border: 2px solid transparent;
	transition: .5s;
}


#contact-form input[type="submit"]:hover {
	border-color: #23ea90;
	color: #00AD5E;
	background-color: #FFF;
}

a {
  font-family: Arial;	
  border: 2px solid rgb(14, 201, 92);
  padding: 10px;
  border-radius: 15px;
}

/* DEIXANDO RESPONSIVO */
/* ADAPTAÇÃO PARA MOBILE-CELULAR */

@media(max-width:450px) {

	#main-container {
			height: 100%;
			flex-wrap: wrap;
	}

	#form-container,
	#address-container {
			flex: 1 1 100%;
	}

	#form-container {
			order: -1;
			padding: 20px;
	}

	#form-container h2 {
			margin-bottom: 25px;
	}

	#contact-form {
			width: 100%;
	}

	#contact-form label, 
	#contact-form input, 
	#contact-form textarea {
			border-color: #AAA;
	}

	#address-container {
			background-position: 0;
			height: 500px;
	}

	.fade {
			opacity: .9;
	}

	#address-content {
			top: 25%;
			left: 25%;
	}

}
