body{
  background-color: rgba(246, 247, 247, 0.875);
  color: rgb(19, 18, 18);
  font-family: poppinsregular;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#title{
  flex-direction: column;
  line-height: 10px;
}

li{
  display: inline-block;
  margin: 20px;
}

a{
  color: rgb(12, 12, 12);
}

a:hover{
  color: rgb(14, 201, 92);
  transition: 0.3s all;
}

#inscreva-se-btn{
  border: 2px solid rgb(14, 201, 92);
  padding: 10px;
  border-radius: 15px;
}

#inscreva-se-btn:hover{
  background-color: rgb(14, 201, 92);
  color: white;
}

h1{
  font-weight: 200;
  font-weight: bold;
}

main{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

h2{
  font-size: 56px;
  line-height: 10px;
  font-family: poppinsmedium;
}

span{
  color: rgb(14, 201, 92);
}

p{
  line-height: 20px;
  max-width: 500px;
  font-family: sans-serif;
}

img{
  width: 580px;
  height: 500px;
  margin-left: 20px;
  margin-right: 20px;
}

form{
  display: flex;
  flex-direction: column;
  width: 70%;
}

form [type="submit"]{
  height: 50px;
  width: 50%;
  background-color: rgb(14, 201, 92);
  color: white;
  font-weight: bold;
}
form [type="submit"]:hover{
  cursor: pointer;
}

input{
  margin-top: 20px;
  height: 20px;
  padding: 15px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
}